body{
    font: bold;
    color: rgb(0, 0, 0);
    background-image: url(images/bg.jpg);

    

}
img{

    width: 4cm;
    height: 10cm;
    margin: 5px;
    border-radius: 10%;
}

.gallery img {

    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.05);
}
.gallery {
    display: flex;
    flex-wrap: wrap;   
    width: 250%;
    justify-content: center;

 
}
.gall{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
hr{
    border-color: chartreuse;
}
.hi{
    display: block;
    margin: auto;
    width: 60%;
}
.first{
    background-color: rgb(233, 255, 218);
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
}
h1{
    color: rgb(247, 203, 243);
}